html, body {
    font-size: 20px;
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    max-width: 1920px; 
    overflow-x: hidden; 
}

h1 {
    margin: 0;
    font-size: 30px;
    color: #448899;
}

h1 a {
    text-decoration: none;
    color: inherit;
}

h2 {
    color:#666666;
    font-size: 24px;
}

h3 {
    color:#666666;
    font-size: 16px;
}

p {
    color: #666666;
    font-size: 16px;
}

input[type="date"],
input[type="radio"] {
  cursor: pointer;
}

.mask {
    position: fixed;
    z-index: 30;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.25);
    display: none;
    cursor: pointer;
}

.mask.active {
    display: block;
}

.login_container {
    position: absolute;
    z-index: 9997;
    border-radius: 0 5px 5px 0;
    display: flex;
    flex-direction: column;
}

.login_container h2 {
    font-size: 27px;
    color: #666666;
}

.login_container input {
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #CCCCCC;   
    outline: none;               
    box-shadow: none;            
    width: 100%;
}

.page-booking .login_container input {
    width: calc(100% - 30px);
}

.page-thankyou .login_container input {
    width: calc(100% - 30px);
}

.page-member .login_container input {
    width: calc(100% - 30px);
}

.login_container input:focus {
    outline: 2px solid #000000;  
}

.form_elements button {
    padding: 15px;
    border-radius: 5px;
    background-color: #448899;
    width: 100%;
    color: #fff;
    font-size: 16px;
    display: flex;
    justify-content: center;
    border-style: none;
    cursor: pointer;
}

.switch-to-signup,
.switch-to-login {
    padding: 0px;
    margin: 0px;
    cursor: pointer;
    margin-top: -10px;
}

.login_dialogue {
    left: 50%;
    top: 80px;
    width: 340px;
    height: auto;
    transform: translate(-50%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    position: fixed;                  
    background-color: white;
    border-radius: 5px;
    display: flex;                    
    flex-direction: column;          
    align-items: center;             
    justify-content: center;    
    
    opacity: 0;                      
    pointer-events: none;           
    transition: opacity 0.2s ease;

}

.login_dialogue.active {
    opacity: 1;
    pointer-events: auto;
}

.decorator_bar {
    width: 340px;
    height: 10px;
    top: 0px;
    background: linear-gradient(to right, #66AABB, #337788);
    border-radius: 5px 5px 0 0;
    position: fixed;                  
    z-index: 9999;  
}

.form_elements {
    width: 310px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    gap: 10px;
}

.close {
    position: fixed; 
    right: 17px;
    padding: 0px;
    top: 27px;
    width: 16px;
    height: 16px;
    z-index: 9998;
    border-style: none;
    background-color: #fff;
    cursor: pointer;
}

.close img {
    width: 100%;
    height: 100%;
}

.page-booking .close {
    position: fixed; 
    right: 17px;
    padding: 0px;
    top: 27px;
    width: 16px !important;
    height: 16px !important;
    z-index: 150;
    border-style: none;
    background-color: #fff;
    cursor: pointer;
}

.page-booking .close img {
    width: 100% !important;
    height: 100% !important;
    
}

.form {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
.form.active {
display: flex;
}

.login,
.logout {
    display: none;
}

.login.active,
.logout.active {
    display: block; 
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: 54px;
    background-color: #fff;
    position: fixed; 
    top: 0; 
    left: 0;
    z-index: 10; 
    border-bottom: 1px solid #E8E8E8;
}

.container1 {
    width: 1180px;
    height: 54px;
    display: flex;
    justify-content: space-between;
    display: flex;
    position: relative;
    gap: 15px;
    align-items: center;
    margin: 0 auto; 
    padding: 0px 10px 0px 10px ;
    z-index: 11; 
}

.container1 h1 {
    margin: 15px;
}

.menu {
    display: flex;
}

.item {
    text-decoration: none; 
    color: #666;
    font-size: 16px;
    padding: 0 10px 0 10px;
    transition: all .2s linear;
}

.item:hover {
    color: #3C3C3C;
}

.error {
    color: red;
    font-size: 16px;
}

.body {
    margin: 0;
    font-family: 'Noto Sans', Arial, sans-serif;
    background-color: #fff;
    color: #000;
    line-height: 1.2;
}

.header {
    font: 'Arial';
    flex-direction: center;
    text-align: center;
    margin: 0;
}

h2 {
    margin: 0;
    font-size: 20px;
    color: #000;
}

.container1 h1 {
    padding: 0;
    margin: 0;
    font-size: 20px;
}

.banner {
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    max-width: 1920px; 
    height: 374px; 
    overflow: hidden;
}

.banner img {
    width: 100%; 
    max-width: 1920px; 
    height: 374px; 
    object-fit: cover; 
    display: block; 
    position: absolute; 
    z-index: 0; 
}

.banner .slogan {
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    position: absolute;
    gap: 15px;
    z-index: 2; 
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    width: 100%; 
}

.banner h1 {
    padding: 0;
    margin: 0;
    gap: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 28px;
    color: #fff;
    z-index: 3; 
}

.banner p {
    color: #fff;
    margin: 0px;
    padding-bottom: 10px;
}

.search {
    display: flex;
    justify-content: flex-start;
    max-width: 460px;
    box-shadow: 0 0 20px #AABBCC;
    position: relative;
    z-index: 3; 
}

.search input {
    flex-grow: 1;
    border: none;
    outline: none;
    background-color: #fff;
    color: #757575;
    padding: 10px 15px;
    border-radius: 5px 0 0 5px;
    height: 46px;
}

.search button {
    background-color: #448899;
    height: 46px;
    width: 60px;
    outline: none;
    border: none;
    border-radius: 0 5px 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    cursor: pointer;
}

.search button img {
    width: 100%; 
    height: auto;
    max-width: 30px;
    max-height: 30px;
}

.content {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
}

.listbar {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 70px;
    box-sizing: border-box;
    width: 100%; 
}

.btn_container {
    width: 50px;
    flex: 0 0 50px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.left img,
.right img {
    cursor: pointer;
}

.listbar .container {
    flex: 1; 
    min-width: 260px; 
    max-width: calc(100% - 100px); 
    height: 70px;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

.listbar .container::-webkit-scrollbar {
    display: none;
}

.mrt-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    min-width: fit-content;
}

.listbar p {
    display: inline-flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    color: #666;
    font-size: 16px;
    padding: 0 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.container2 {

    display: flex;
    max-width: 1200px;
    box-sizing: border-box;
    flex-direction: column; 
    align-items: flex-start; 
    justify-content: flex-start; 
    width: 100%;
    margin: 0 auto; 
    min-height: 80vh; 
    padding: 15px;
    display: flex;
    position: relative;
    gap: 15px;
}

.main-content {
    margin: 0 auto;
}

.big-box {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 30px;
  }
  
  
  .card-frame {
    display: block;           
    width: calc((100% - 90px) / 4); 
    border: 2px solid #E8E8E8;
    border-radius: 5px;
    text-decoration: none;    
    color: inherit;           
    cursor: pointer;
    box-sizing: border-box;
  }

  .heart-btn {
    position: absolute;
    z-index: 8;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
    background: url('/static/img/icon/heart-default.svg') no-repeat center;
    background-size: contain;
    border: none;
    cursor: pointer;
  }
  
  .heart-btn:hover {
    background-image: url('/static/img/icon/heart-hover.svg');
  }
  
  .heart-btn.active {
    background-image: url('/static/img/icon/heart-selected.svg');
  }

.card {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
    width: 100%; 
    height: 197px;
    margin: 0px; 
    align-items: center;
    background-color: #000000;
    text-align: center;
    border-radius: 5px 5px 0 0;
    box-sizing: border-box;
}

.card h2 {
    position: absolute; 
    bottom: 0; 
    width: 100%;
    object-fit: cover;
    margin: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6); 
    color: #fff; 
    font-size: 16px; 
    text-align: left; 
    z-index: 2; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    width: calc(100% - 8px); 
}

.card img {
    border-radius: 0; 
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    box-sizing: border-box; 
    max-height: inherit; 
    display: block; 
    max-height: 100%; 
    margin: 0; 
    padding: 0; 

}

.card_category {
    margin: 0px;
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: row;  
    height: 25px;
    background-color: #fff;
    justify-content: space-between;
    border-radius: 0 0 5px 5px;
}

.card_category p {
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #757575;
    height: 20px;
    flex: 0 1 auto;
}

footer {
    width: 100%;
    position: relative; 
    display: flex; 
    justify-content: center; 
    align-items:center; 
    height: 104px; 
    overflow: hidden; 
    background-color: #757575;
}


footer p {
    margin: 0;
    color: #fff;
}

.page-booking footer.no-booking {
    width: 100%;
    height: 761px;
    background-color: #757575;
    align-items:flex-start;
}

.page-thankyou footer.no-booking {
    width: 100%;
    height: 761px;
    background-color: #757575;
    align-items:flex-start;
}

footer.no-booking p {
    margin-top: 40px;          
}



.attraction_container_1 {
    border-top: 1px solid #E8E8E8;
    display: flex;
    max-width: 1200px;
    box-sizing: border-box;
    flex-direction: row; 
    justify-content: space-between; 
    width: 100%;
    margin-top: 54px;
    margin-bottom: 20px;
    padding: 10px 20px;
    display: flex;
    position: relative;
}

.attraction_container_1 h2 {
    max-width: 540px;
    color: #666;
}
.attraction_carousel {
    position: relative;
    width: 100%;    
    max-width: 540px;
    height: 400px;
    overflow: hidden; 
    border-radius: 5px;
    z-index: auto;
  }
  
  .slider {
    width: 100%;
    height: 100%;        
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
  }
  
  .slider::-webkit-scrollbar {
    display: none; 
  }

  .carousel-dots-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
    z-index: 3;
  }
  
  .carousel-dots {
    display: flex;
    gap: 6px;
    position: relative;     
    z-index: 4;
    padding: 0;
  }

  .carousel-dots img {
    width: 12px;
    height: 12px;
    cursor: pointer;
    display: block;
  }

  .slider img {
    flex: 0 0 100%;
    width: 100%;
    height: 100%;      
    object-fit: cover; 
    object-position: center;
    display: block;
    scroll-snap-align: start;
  }

.attraction_carousel .all_btn_container {
    position: absolute; 
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    pointer-events: auto;
}

.attraction_carousel .btn_container {
    z-index: 3;
    height: 400px;
    align-items: center;
    cursor: pointer;
    padding: 0 10px;
}

.attraction_carousel .btn_container img {
    width: 32px;
    height: 32px;
    object-fit: contain;
    flex-shrink: 0;   
  }

.attraction_container_booking {
    width: 100%;
    max-width: 600px;
}

.attraction_container_booking .input-group {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
}

.attraction_container_booking .input-group label {
    color: #666;
    font-size: 16px;
  }

.attraction_category {
    max-width: 540px;
    display: flex;
    flex-direction: row;
}

.attraction_board {
    padding: 20px 15px;
    background-color: #E8E8E8;
    border-radius: 5px;
    width: 100%;
    max-width: 540px;
}

.attraction_board h3 {
    margin: 0;
    padding: 5px;
}

.attraction_board p {
    margin: 0;
    padding: 5px;
    color: #666666;
}

.attraction_board button {
    background-color: #448899;
    color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 25px;
    margin-bottom: 15px;
    border-style: none;
    cursor: pointer;
}

.attraction_board input {
    margin: 5px;
    font-size: 16px;
    color: #666666;
    gap: 5px;
}

.custom-radio input[type="radio"] {
    display: none;
  }
  
  .custom-radio .radio-mark {
    display: inline-block;
    width: 22px;
    height: 22px;
    background-color: #fff;
    border-radius: 50%;
    vertical-align: middle;
    position: relative;
  }
  
  .page-thankyou .thankyou_container {
    margin-top: 94px;
    margin-bottom: 40px;
    max-width: 1000px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.page-member .headline {
    margin-top: 94px;
    max-width: 240px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-member .headline-container {
    width: 100%;
    display: flex;
    align-items: center;
}

.page-member .member-container {
    display: flex;
    max-width: 1200px;
    width: 100%;
    height: auto;
    align-items: flex-start;
}

.page-member .function-container {
    width: 250px;
    flex-shrink: 0;
    margin: 5px;
}

.page-member .member-container-content {
    max-width: 927px;
}

.page-member .profile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.page-member .member-container img {
    width: 50px;
    height: 47px;
    margin: 10px;
}

.page-thankyou .headline-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.page-thankyou .thankyou_container h2, .page-member .headline-container h2 {
    color: #666666;
    font-size: 20px;
}

  .custom-radio input[type="radio"]:checked + .radio-mark::after {
    content: "";
    width: 18px;
    height: 18px;
    background-color: #448899; 
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .custom-radio {
    display: inline-flex;
    align-items: center;
    margin-right: 5px; 
  }
 
  .custom-radio label {
    margin: 0px 4px;
  } 

  
  .custom-radio .radio-text {
    padding-left: 5px;
    padding-right: 5px;
    color: #666;
    font-size: 16px;
  }

  .custom-radio {
    display: inline-flex;
    align-items: center;
    margin-right: 5px;
  }
  
  
  .custom-radio .radio-label {
    padding-left: 4px;
    padding-right: 4px;
  }
  
  
  .custom-radio .radio-text {
    padding-left: 5px;
    padding-right: 4px;
    color: #666;
    font-size: 16px;
  }


.attraction_board input[type="date"] {
    border: none;
    outline: none;
    padding: 5px 10px;
}

.attraction_board input label {
    color: #666666;
    font-size: 16px;
}

.container2 {
    font-size: 16px;
    color: #666;
}

.page-index .container2 {
    min-height: 80vh;
  }
  
  
.page-attraction .container2 {
    border-top: 1px solid #E8E8E8;
    min-height: auto; 
    padding-bottom: 120px;
    padding-top: 40px;
}

.page-booking content {
    margin-top: 54px;
    padding-top: 54px;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    position: relative;
}

.page-booking .booking_container {
    border-bottom: 1px solid #e8e8e8;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
}

.page-booking .booking_container_attraction, .page-member .booking_container_attraction {  
    display: flex;          
    align-items: flex-start;    
    width: 100%;
    max-width: 980px;
    margin-bottom: 40px;
    padding: 10px;
    box-sizing: border-box;
}

.page-member .booking_container_attraction {
    padding: 40px 10px;
}

.page-member .booking_container_attraction {
    margin-bottom: 0px;
    border-bottom: 1px solid #E8e8e8;
}

.page-booking img, .page-member .booking_container_attraction img {
    flex: 0 0 250px;        
    width: 250px;
    height: 200px;
    object-fit: cover; 
}

.page-member .booking_container_attraction img {
    margin: 0px;
}

.page-booking .info, .page-member .info {
    position: relative;
    padding-left: 30px;
    font-size: 16px;
    width: 100%;
    max-width: 700px;
    color: #666666;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.page-member .info .button {
    color: #666666;
    text-decoration: underline;
    cursor: pointer;
    transition: all .2s linear;
}

.page-member .info .button:hover {
    color: #3c3c3c;
}

.booking_container_attraction .delete {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;              
    height: 30px;
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
  }
  
  .booking_container_attraction .delete img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

.page-booking .info h2, .page-member .info h2 {
    font-size: 16px;
    color: #448899;
    margin-bottom: 20px;
}

.page-booking .headline-container  {
    margin-top: 94px;
    margin-bottom: 40px;
    max-width: 1000px;
    width: 100%;
    height: 27px;
}


.page-booking .headline {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    font-size: 19px;
    font-weight: bold;
    color: #666666;
}

.page-booking .field-notice {
    width: calc(100% - 20px);
}

.page-booking .contract {
    width: 100%;
    max-width: 1200px;
    height: auto;
    border-top: 1px solid #E8e8e8;
    border-bottom: 1px solid #E8e8e8;
    gap: 15px;
    display: flex;
    justify-content: center;
}

.page-booking .contract_container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.page-booking .contract_form {
    max-width: 980px;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 15px;
}

.page-booking .contract h2, .page-booking .payment h2 {
    color: #666666;
}




.page-booking .payment {
    width: 100%;
    max-width: 1200px;
    height: auto;
    border-bottom: 1px solid #E8e8e8;
    display: flex;
    justify-content: center;
}

.page-booking .payment_container {
    max-width: 980px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.page-booking .payment_form {
    max-width: 980px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    max-width: 980px;
    height: auto;
    gap: 15px;
}

.page-booking .input-group label {
    color: #666;
    font-size: 16px;
}

.page-booking .input-group input {
    border-radius: 5px;
    border-color: 1px solid #E8E8E8;
    height: 18px;
    box-shadow: none;
    padding: 10px;
    border: 1px solid #CCCCCC;   
    outline: none;               
    box-shadow: none;            
    width: 200px;
}

.page-booking .total {
    width: 100%;
    max-width: 980px;
    display: flex;
    flex-direction: row-reverse;
}

.page-booking .total h2 {
    color: #666666;
    font-size: 16px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-right: 10px;
}

.page-booking .checkout_btn {
    width: 100%;
    max-width: 980px;
    display: flex;
    flex-direction: row-reverse;
    margin-right: 10px;
}

.page-booking .checkout_btn button {
    background-color: #337788;
    width: auto;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    font-size: 19px;
    border-style: none;
    margin-top: 10px;
    margin-bottom: 72px;
    cursor: pointer;
}

.page-member .function h2 {
    color: #666666;
    font-size: 20px;
    font-style: bold;
}

.page-member .function-container .function {
    width: 100%;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E8E8E8;
    border-radius: 5px;
    cursor: pointer;
    gap: 10px;
}

.page-member .booking_container_attraction {
    max-width: 927px;
}

@media screen and (min-width: 601px) and (max-width: 1200px) {
    .big-box {
        max-width: 100%; 
    }

    .card-frame {
        width: calc((100% - 30px) / 2); 
        box-sizing: border-box;
    }

    .attraction_container_1 {
        margin-top: 54px;
        padding: 0px;
        padding-top: 0px;
        display: flex;
        flex-direction: column;
        height: 760px;
    }

    .attraction_carousel {
        position: relative;
        width: 100%;    
        max-width: 1200px;
        min-height: 350px;
        overflow: hidden; 
        border-radius: 5px;
      }


    .attraction_container_booking {
        margin: 20px 15px;
        width: calc(100% - 30px);
        max-width: 1200px;
    }

      .attraction_board {
        background-color: #E8E8E8;
        border-radius: 5px;
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
    }

    .page-member .function-container {
        width: 100%;

    }

    .page-member .two-functions {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .page-member .function {
        width: 100% !important;
    }

    .member-container {
        display: flex;
        flex-direction: column;
    }

    .page-member .booking_container_attraction {
        max-width: none !important;
        width: 100%;
    }

    .page-member .booking_container_attraction img{
        width: 100%;
        max-height: 350px;           
        object-fit: cover;
    }

    .page-member .info {
        max-width: none !important;
        width: calc(100% - 20px);
        margin: 10px !important;
        padding-left: 0px !important;
        margin-bottom: 40px;
    }

    .page-member .member-container-content {
        width: 100%;
    }
  

}


@media screen and (min-width: 360px) and (max-width: 600px) {
    .big-box {
        max-width: 100%;
    }

    .card-frame {
        width: 100%; 
        box-sizing: border-box;
    }


    .attraction_container_1 {
        margin-top: 54px;
        padding-top: 0px;
        display: flex;
        flex-direction: column;
        height: 760px;
        padding: 0px;
    }

    .attraction_carousel {
        position: relative;
        width: 100%;    
        max-width: 1200px;
        min-height: 350px;
        overflow: hidden; 
        border-radius: 5px;
      }

    .attraction_container_booking {
        max-width: 1200px;
        box-sizing: border-box;
        margin   :20px 0;      
        padding  :0 10px;      
    }

      .attraction_board {
        background-color: #E8E8E8;
        border-radius: 5px;
        width: 100%;

        box-sizing: border-box;
    }


    .page-member .booking_container_attraction {
        max-width: none !important;
        width: 100% !important;               
        margin: 0;                 
        padding: 0px;           
        box-sizing: border-box;    
      
        
        display: flex;
        flex-direction: column;
        gap: 30px;
      }
    
    .page-member .booking_container_attraction img {
        width: 100%;
        height: 350px;
        object-position: center;
    }
  

    .booking_container .info {
        height: auto;
        padding: 10px;
        margin: 10px;
        gap: 10px;
        display: flex;
        flex-direction: column;
    }

    .booking_container_attraction .delete {
        top: auto;      
        right: 10px;
        bottom: 0;      
      }
    
    .page-member .booking_container_attraction img {
        width: 100%;
        height: 350px;
        object-position: center;
    }

    .page-member .function-container {
        width: 100%;
        margin: 20px 10px;

    }

    .page-member .two-functions {
        display: flex;
        flex-direction: row;
    }


    .page-member .info {
        max-width: none;
        width: calc(100% - 20px);
        margin: 10px !important;
        padding-left: 0px !important;
    }

    .member-container {
        display: flex;
        flex-direction: column;
    }

    .page-member .member-container-content {
        width: 100%;
    }
}
